
<div id="heard-post-list">
    {{#if heardPosts}}
        <ul>
            {{#each heardPosts}}
                <li class="heard-post-li">
                    <div class="heard-post-div">
                        <a href="heardPost/{{this._id}}">{{this.post_title}}</a>
                        <p class="author-time">Posted by {{this.post_author}} @ {{this.date_created}}</p>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No 'Today I Heard' Posts</p>
    {{/if}}
</div>